<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#flisolBar">
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref="home" style="height:auto;">
        <img src="/app/images/app-arts/logo.png" style="width:80px;height:auto;" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="flisolBar" >
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ui-sref="home" href="#"><i class="fa fa-home"></i> Inicio</a></li>
      </ul>
    </div>
  </div>
</nav>
